
body{
    background-color: black;
    padding-left: 5%;
    padding-right: 5%;
}

h1,p{
    color: white;
    text-align: center;
}

h1{
    text-transform: uppercase;
    font-family: "Libre Baskerville", serif;
}

.container-div{
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
}

img{
    border: 5px solid white ;
    width: 100%;
}



